In [2]:
#ans:1
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Enginee']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3      Data Enginee         4

In [6]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
#ans:2
loc is used to select data by label/index. It takes two arguments: the row label(s) and the column label(s). For example, df.loc[2, 'col1'] selects the value in row 2 and column 'col1'.

iloc is used to select data by integer position. It also takes two arguments: the row integer(s) and the column integer(s). For example, df.iloc[2, 0] selects the value in the third row and the first column (remember that Python is 0-indexed).

In summary, loc is used to select data by label and iloc is used to select data by integer position.

In [ ]:
#ans:3
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]}, index=[0, 1, 2, 3])
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

print(new_df)
print(new_df.loc[2])
print(new_df.iloc[2])

In [ ]:
#ans:4
import pandas as pd
import numpy as np

# Set up the DataFrame
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
print(df1)

# Calculate the mean of each column
column_means = df1.mean()
print("\nMean of each column:\n", column_means)

# Calculate the standard deviation of column 2
column_2_std = df1['column_2'].std()
print("\nStandard deviation of column 2:\n", column_2_std)

In [ ]:
#ans:5
We cannot replace the numerical data in a column with a string variable. This will raise a "TypeError" since pandas expects the data in a column to have the same data type. Therefore, if we try to calculate the mean of column_2 after replacing the data in the second row with a string variable, we will get an error.

In [ ]:
#ans:6
In Pandas, a window function is a way to perform calculations on a rolling window of data points in a DataFrame. It's a way to analyze data over a fixed period, such as a moving average, rolling sum, or rolling standard deviation.

The window function in Pandas is implemented using the .rolling() method. This method generates a rolling object that enables us to perform various window operations on the data.